body{
    background: #E3F2FD;
    color: #138FF2;
}
.content {
    left: 50%;
    top: 50%;
    margin-left: 37.5%;
    margin-top: 7%;
}
.form{
    left: 5%;
    top: 5%;
    margin-left: 40%;
    margin-top: 2%;
    color: #000000;
}
.form2{
    left: 5%;
    top: 5%;
    margin-left: 42.5%;
    margin-top: 2%;
    color: #000000;
}