<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <h4 class="form">Svm classify day or night</h4>
    <h6 class="form2">Puts the image to classify</h6>
    <body>
        <div class="content">
            <form action = "http://192.168.250.151:5000/predict" method="POST" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </body>
</html>